<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: 'about' }}">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading">{{ site.data.sitetext[site.locale].about.title | default: 'About Us' }}</h2>
      <h3 class="section-subheading">{{ site.data.sitetext[site.locale].about.text | default: '' }}</h3>
    </div>
    <div class="content-center">
      <div class="large">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
    </div>
  </div>
</section>
<!-- End About -->
